@import "./main";

.h5p-timekeeper {
  background-color: $color-background;
  color: $color-text;
  width: 100%;

  .h5p-timekeeper-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .h5p-timekeeper-introduction {
      width: 100%;

      .h5p-timekeeper-intro-content {
        margin: 0 $margin-default;
      }
    }
  }

  &.h5p-fullscreen {
    .h5p-timekeeper-main {
      height: 100%;

      .h5p-timekeeper-introduction {
        max-height: 15%;
        overflow: auto;
      }

      .h5p-timekeeper-counter {
        flex-grow: 1;
        min-height: 7em;
      }

      .h5p-timekeeper-laptracker {
        height: 50%;
        overflow: auto;
      }
    }
  }
}
